body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  font-family: 'Rock Salt', cursive;
  font-size: xx-large;
  color: #E94418;
}

.logo {
  font-family: 'Rock Salt', cursive;
  font-size: large;
  color: #E94418!important;
  text-align: center!important;
  margin-right: 7em;
}

.button-colored-teal {
  background-color: #14DBD9!important
}

.button-colored-red {
  background-color: #E94418!important
}

.restaurants-list {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 120%;
  overflow-y: auto;
  overflow-x: hidden;
}

.restaurants-map {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 120%;
}

.restaurant-page {
  position: absolute;
  top: 4em; bottom: 3em; left: 0; right: 0;
  overflow-y: auto;
}

.delete-review {
  float: right;
  cursor: pointer;
}

.friend {
  cursor: pointer;
}

.card-opacity {
  background: rgba(245, 243, 243, 0.85)!important
}

#landing-page {
  background-image: url('./assets/katlyn-giberson-185277.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#login-sign-up {
  background-image: url('./assets/katlyn-giberson-185277.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#user-page {
  background-image: url('./assets/blake-wisz-287924.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#restaurant-page {
  background-image: url('./assets/blake-wisz-287924.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
